@page "/servers/{id:int}";

@inject NavigationManager NavigationManger


<h3>EditServer</h3>

@if (server != null)
{
    <p>
        @server.Name
    </p>
    <p>
        @server.City
    </p>
    <p>
        @server.IsOnline
    </p>


    <EditForm Model = "server" FormName = "formServer" OnSubmit="Submit">
        <InputNumber @bind-Value = "server.ServerId" hidden ></InputNumber>
         <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Name</label>
            </div>
            <div class="col-8">
                <InputText @bind-Value = "server.Name" class="form-control"></InputText>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">City</label>
            </div>
            <div class="col-8">
                <InputText @bind-Value = "server.City" class="form-control"></InputText>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Online</label>
            </div>
            <div class="col-8">
                <InputCheckbox @bind-Value = "server.IsOnline"></InputCheckbox>
            </div>

            <button type = "submit">Update</button>&nbsp;
            <a href = "/servers" class = "btn btn-primary">Close</a>
        </div>

    </EditForm>
}


@code 
{

    [Parameter]
    public int Id {get; set;}

    [SupplyParameterFromForm(FormName = "formServer")]
    private Server? server {get; set;}
    protected override void OnParametersSet()
    {
        server ??= ServerRepository.getServerById(this.Id);
    }

    private void Submit()
    {
        if(server != null)
        {
            ServerRepository.UpdateServer(server.ServerId, server);
        }
        NavigationManger.NavigateTo("/servers");
    }
    
}