<h3>Server City Component</h3>
@if (citiesRepository != null)
{
@foreach(var cities in citiesRepository)
    {   
        <ServerCitiesComponent 
            cities = "@cities"
            selectedCity = "@selectedCity"
            SelectCityCallBack="HandleCitySelection"
            @ref = "serverCitiesComponent"
        >
        </ServerCitiesComponent>
    }
}


@code
{
    private string selectedCity = "Toronto";
    private List<string> citiesRepository = CitiesReposity.GetCities();
    
    public void ClearSelection()
    {
        this.selectedCity = string.Empty;
    }

    private void HandleCitySelection(string cityName)
    {
       selectedCity = cityName; 
       SelectedCityCallback.InvokeAsync(cityName);
    }

    [Parameter]
    public EventCallback<String> SelectedCityCallback { get; set; }

    public ServerCitiesComponent? serverCitiesComponent;

}